<footer>
  <p>Copyright &copy; reserved | Blog Ninja | <%= new Date().getFullYear() %></p>
  <p>Developed by <a class="developer" href="https://www.linkedin.com/in/hafizulhaque97/" target="_blank">Hafizul Haque</a></p>
</footer>